fastapi
uvicorn[standard]
pydantic
python-dotenv
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
chromadb
fastembed
groq
rank_bm25
flashrank
pymupdf4llm
PyMuPDF
rapidocr-onnxruntime
langsmith
