fastapi
uvicorn[standard]
pydantic
python-dotenv
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-text-splitters
langgraph
chromadb
pypdf
fastembed
groq
rank_bm25
flashrank
pymupdf4llm
PyMuPDF
